/* 
 * global. css 
 */
 body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

h1, h2, h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p {
  margin: 0 0 1.15em;
}

.button {
  /* Reset text link default */
  text-decoration: none;

  background-color: #F76C6C;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}
